# Ignore all environment files containing secrets
**/.env
**/.env.*

# Ignore system junk
.DS_Store
Thumbs.db

# Ignore large data directories if mapped here
# (e.g. if you have a 'data' folder inside 'core')
**/data/
**/logs/
**/log/

# Ignore CouchDB ini file & data
obsidian/couchdb-etc/*
obsidian/couchdb-data/*


# Recursively ignore any folder named .pastebin
**/.pastebin

# ignore testing folder
/testing/

# Ignore the Nginx Proxy Manager data folders
**/npm/

# Ignore Filebrowser database and settings
filebrowser/config/config.yaml

**/uptime_kuma_data

# Ignore all HA logs/db 
**/homeassistant
**/mosquitto
**/zigbee2mqtt

#ignore obsidian db files
**/couchdb-data
**/couchdb-etc
dashboard/homepage/config/output.txt
