### File Sharing Applications ###

# --- FILEBROWSER QUANTUM ---
# Only on internal_net. Cloudflare cannot reach this directly.
filebrowser:
  image: gtstef/filebrowser:beta
  container_name: filebrowser-quantum
  restart: unless-stopped
  user: ${PUID}:${PGID}
  networks:
    - internal_net  # <-- ISOLATED - TO TALK TO NPM ONLY
  environment:
    - FILEBROWSER_CONFIG=/config/config.yaml
    - FILEBROWSER_ADMIN_PASSWORD=${FB_ADMIN_PASS}
  volumes:
    # Config & Database
    - ${PATH_CONFIG}:/config
    - ${PATH_DATA}:/data/
    # Data Sources
    - ${PATH_SOURCE_MEDIA}:/media # NEED TO MOUNT NVME DRIVE ##########
    - ${PATH_SOURCE_USERS}:/users
  deploy: 
    resources:
      limits:
         cpus: '0.50'   # Max 50% of one core
         memory: 512M   # Max 512MB RAM

# --- NETWORK DEFINITIONS ---
networks:
   # tunnel_net:
  proxy_net:
    external: true