services:
  couchdb:
    image: couchdb:3.3.3
    container_name: obsidian-livesync
    user: 1000:1000 # Optional: Matches your host user ID for permission management
    restart: always
    environment:
      - COUCHDB_USER=goose
      - COUCHDB_PASSWORD="{{COUCHDB_PASS}}"
    volumes:
      - ./data:/opt/couchdb/data
      - ./local.d:/opt/couchdb/etc/local.d
    ports:
      - "5984:5984" 
       # For Tailscale-only lock-down:
       # - "127.0.0.1:5984:5984"